.custom-card {
  background-color: #ff497c;
  color: white;
  width: 200px;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}


.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

mat-card-actions {
  display: flex;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 200px); /* 5 colunas */
  gap: 10px; /* Espaço entre os cards */
  margin-top: 40px;
}