<div class="grid-container">
@for (card of cards; track card.titulo) {
  <mat-card class="custom-card">
    <mat-card-content>
      <mat-icon class="card-icon">developer_mode</mat-icon>
      <p class="card-title">{{card.titulo}}</p>
      <p>{{card.disciplina}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button>
        <mat-icon>star_border</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
}
</div>