<div class="grid-container">
@for (material of materiais; track material.titulo) {
  @if(currentRoute === '/meus-materiais'){
    @if (material.isOwner){
      <mat-card class="custom-card">
        <mat-card-content>
          <p class="card-title">{{material.titulo}}</p>
          <p>{{material.disciplina}}</p>
          <p>{{material.assunto}}</p>
          <p>{{material.data_da_postagem}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button>
            <a href="{{material.link}}" target="_blank">
              <mat-icon>visibility</mat-icon>
            </a>
          </button>
          <button mat-icon-button>
            <a target="_blank">
              <mat-icon (click)="update(material)" routerLink="/form-material">edit</mat-icon>
            </a>
          </button>
          <button mat-icon-button>
            <a target="_blank">
              <mat-icon  (click)="delete(material.id)" >delete</mat-icon>
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    }
  }
  @else if(currentRoute === '/materiais'){
    @if (material.privado === "false"){
    <mat-card class="custom-card">
      <mat-card-content>
        <p class="card-title">{{material.titulo}}</p>
        <p>{{material.disciplina}}</p>
        <p>{{material.assunto}}</p>
        <p>{{material.data_da_postagem}}</p>
      </mat-card-content>
      @if(material.isOwner){
        <mat-card-actions>
          <button mat-icon-button>
            <a href="{{material.link}}" target="_blank">
              <mat-icon>visibility</mat-icon>
            </a>
          </button>
          <button mat-icon-button>
            <a target="_blank">
              <mat-icon (click)="update(material)" routerLink="/form-material">edit</mat-icon>
            </a>
          </button>
          <button mat-icon-button>
            <a target="_blank">
              <mat-icon  (click)="delete(material.id)" >delete</mat-icon>
            </a>
          </button>
        </mat-card-actions>
      }
      @else{
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon>star_border</mat-icon>
          </button>
          <button mat-icon-button>
            <a href="{{material.link}}" target="_blank">
              <mat-icon>visibility</mat-icon>
            </a>
          </button>
        </mat-card-actions>
      }
    </mat-card>
    }
  }
}
</div>