<form class="example-form" #materialForm="ngForm" (submit)="addMaterialUpdMaterial(materialForm)">
    <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Título" [(ngModel)]="newMaterial.titulo" name="titulo" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Disciplina</mat-label>
        <input matInput placeholder="Disciplina" [(ngModel)]="newMaterial.disciplina" name="disciplina" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Assunto</mat-label>
        <input matInput placeholder="Assunto" [(ngModel)]="newMaterial.assunto" name="Assunto" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Escolha uma data</mat-label>
        <input matInput [matDatepicker]="picker" required [(ngModel)]="newMaterial.data_da_postagem" name="data_da_postagem">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Link</mat-label>
        <input matInput placeholder="link" [(ngModel)]="newMaterial.link" name="link" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tipo de Conteudo</mat-label>
        <mat-select>
            @for (opcao of opcoes; track opcao) {
            <mat-option [value]="opcao.value">{{opcao.viewValue}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
        <div class="button">
            <button class="cancelar" mat-raised-button routerLink="/home">Cancelar</button>
            <button class="confirmar" mat-raised-button [disabled]="!materialForm.valid" type="submit">{{acaoBotao}}</button>
        </div>
</form>