* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 112vw;
    height: 100vh;
    background-color: gray; /* Cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita rolagem */
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    letter-spacing: -0.125rem;
    margin: 0;
}

.content {
    width: 60%; /* Ajustável conforme necessário */
    max-width: 1200px;
    height: 90vh; /* Mantém proporção */
    max-height: 900px;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    border-radius: 15px; /* Cantos arredondados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
}
