.materials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-notification{
    display: flex;
    gap: 10px;
    display: flex;
}

.search-field {
  display: flex;
  position: relative;
}

.search-field input{
    width: 340px;
    height: 43px;
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-icon{
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
