<main>
    <div class="materials">
        <h1>Materiais</h1>
        <form class="search-field">
            <input matInput placeholder="Pesquisar..." [(ngModel)]="searchTerm" name="searchTerm" (input)="filterCards()">
            <mat-icon class="search-icon">search</mat-icon>
        </form>
        <div class="profile-notification">
            <mat-icon>notifications</mat-icon>
            <p>perfil</p>
        </div>
        </div>
    
    @if (!searchTerm) {
        <app-card>
          
        </app-card>
    }

    @else if (filteredCards.length == 0) {
        <div class="no-materials">
            <p>Nenhum material encontrado.</p>
        </div>
    }
    @else {
        <div class="grid-container">
            @for (card of filteredCards; track card.titulo) {
              <mat-card class="custom-card">
                <mat-card-content>
                  <p class="card-title">{{card.titulo}}</p>
                  <p>{{card.disciplina}}</p>
                  <p>{{card.assunto}}</p>
                  <p>{{card.data_da_postagem}}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-icon-button>
                    <mat-icon>star_border</mat-icon>
                  </button>
                  <a href="{{card.link}}" target="_blank">
                    <mat-icon>visibility</mat-icon>
                  </a>
                </mat-card-actions>
              </mat-card>
            }
            </div>
        }


        <button class="plus-button" routerLink="/form-material" routerLinkActive="active" mat-fab aria-label="Example icon button with a delete icon">
          <mat-icon>add</mat-icon>
        </button>
</main>