<main>
  <div class="materials">
        <h1>Materiais</h1>
        <form class="search-field">
            <input matInput [(ngModel)]="searchTerm" (input)="filterCards()" placeholder="Buscar materiais..." name="searchTerm">
            <mat-icon class="search-icon">search</mat-icon>
        </form>
        <div class="home-notifications">
          <mat-icon>notifications</mat-icon>
          <img class="profile-picture" src="/assets/images/brunao.jpg" alt="">
      </div>
  </div>
  
  @if (filteredCards.length === 0){
    <div class="empty-state">
        <p>Nenhum material encontrado</p>
    </div>
  }

  <div class="flex-container">
    @for (material of filteredCards; track material.titulo) {
      @if (material.privado === "false"){
  
        <mat-card class="custom-card">
          <mat-card-content>
            <p class="card-title">{{material.titulo}}</p>
            <p>{{material.disciplina}}</p>
            <p>{{material.assunto}}</p>
            <p>{{material.data_da_postagem}}</p>
          </mat-card-content>
          @if(material.isOwner){
            <mat-card-actions>
              <button mat-icon-button>
                <a href="{{material.link}}" target="_blank">
                  <mat-icon>visibility</mat-icon>
                </a>
              </button>
              <button mat-icon-button>
                <a target="_blank">
                  <mat-icon (click)="update(material)" routerLink="/form-material">edit</mat-icon>
                </a>
              </button>
              <button mat-icon-button>
                <a target="_blank">
                  <mat-icon  (click)="delete(material.id)" >delete</mat-icon>
                </a>
              </button>
            </mat-card-actions>
          }
          @else{
            <mat-card-actions>
              <button mat-icon-button>
                <mat-icon>star_border</mat-icon>
              </button>
              <button mat-icon-button>
                <a href="{{material.link}}" target="_blank">
                  <mat-icon>visibility</mat-icon>
                </a>
              </button>
            </mat-card-actions>
          }
        </mat-card>
        }
      }
    
  </div>

  <button class="plus-button" routerLink="/form-material" routerLinkActive="active" mat-fab>
          <mat-icon>add</mat-icon>
  </button>
</main>