<div class="sidebar">

    <h1>PILOTO LOGO</h1>
    <ul>
        <div class="menu-item" routerLink="/home" routerLinkActive="active">
            <li><mat-icon>home</mat-icon>Home</li>
        </div>
        <div class="menu-item" routerLink="/meus-materiais" routerLinkActive="active">
            <li><mat-icon>book</mat-icon> Meus Materiais</li>
        </div>
        <div class="menu-item" routerLink="/todolist" routerLinkActive="active">
            <li><mat-icon>checklist</mat-icon> TodoList</li>
        </div>
        <div class="menu-item" routerLink="/materiais" routerLinkActive="active">
            <li><mat-icon>menu_book</mat-icon> Materiais</li>
        </div>
        <div class="menu-item" routerLink="/sair" routerLinkActive="active">
            <li><a (click)="logout()"> <mat-icon>logout</mat-icon> Logout</a></li>
        </div>
    </ul>
</div>