* {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

a {
    border: none;
    background: none; /* Remove o fundo padrão do botão */
    color: inherit; /* Herda a cor do texto */
    font: inherit; /* Herda a fonte */
    cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0; /* Remove o padding padrão do botão */
}

button:hover {
    color: #49B583; /* Aplica o mesmo efeito de hover do li */
}

.menu-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

mat-icon {
    font-size: 30px; /* Aumenta o tamanho do ícone */
    width: 30px; /* Garante que o tamanho do ícone acompanhe a fonte */
    height: 30px;
    display: inline-flex; /* Evita cortes dentro de botões */
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

li {
    list-style-type: none;
    display:  flex;
    flex-direction: row;
    
    width: 100%;
}

.sidebar {
    background-color: #202020;
    color: white;
    height: 100%;
    width: 15rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

li:hover {
    color: #49B583;
}

.active {
    font-weight: bold;
    color: #49B583;
}
