.container {
    scrollbar-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-notifications{
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

mat-icon {
    font-size: 2rem;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    color: #333;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #333;
}

.purple-text {
    color: #925FE2;
}

.recent-access {
  margin: 40px 0;
}

img {
    max-width: 100%;
}


.custom-card {
    background-color: #ff497c;
    color: white;
    width: 200px;
    border-radius: 8px;
    margin: 10px;
    margin-top: 30px;
  }
  
  a{
    text-decoration: none;
    color: white;
  }

  button{
    color: white;
  }
 
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: end;

  }
  
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }